<div class="video-container" (mouseenter)="showControls()" (mouseleave)="hideControls()">
    <video #videoPlayer height="240" (click)="toggleControls()" (play)="hideControls()" (pause)="showControls()" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline">
    <source [src]="videos[currentVideoIndex]" type="video/mp4">
    Votre navigateur ne supporte pas la balise vidéo.
  </video>
    <div class="video-controls hidden">
        <ion-button fill="clear" class="control-button" (click)="previousVideo()">
            <ion-icon name="arrow-back-circle"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="control-button" (click)="nextVideo()">
            <ion-icon name="arrow-forward-circle"></ion-icon>
        </ion-button>
    </div>
</div>