.controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.control-button {
    --size: 70px;
    /* Taille des boutons */
    width: var(--size);
    height: var(--size);
    --ion-color-base: transparent;
    /* Enlève le fond par défaut des boutons Ionic */
    ion-icon {
        font-size: 50px;
        /* Taille de l'icône */
        color: white;
        /* Couleur de l'icône */
    }
}

// start
.video-container {
    position: relative;
    /* Autres styles */
    // width: 320px;
    /* Ajustez selon la taille de votre lecteur */
    // height: 240px;
}

.video-controls {
    position: absolute;
    top: 45%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    /* Les rend initialement invisibles */
    transition: opacity 0.5s ease;
    /* Transition douce pour l'opacité */
}

.video-controls.hidden {
    opacity: 0;
    /* Les rend invisibles */
    visibility: hidden;
    /* Assure qu'ils ne soient pas cliquables */
}

.video-controls.show {
    opacity: 1;
    visibility: visible;
}